<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceCredentials>
    <Gitlab>
      <add key="Username" value="opd" />
      <add key="ClearTextPassword" value="vJKsxUW93c2tnZSWFbdz" />
    </Gitlab>
  </packageSourceCredentials>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Gitlab" value="https://gitlab.com/api/v4/projects/30442381/packages/nuget/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
